
#truyum-nav-logo ,#truyum-heading{
    width:20px;
    color:white;
}
i {
    vertical-align:middle;
}

#truyum-heading {
    font-weight:bold;
}

#truyum-navbar-menus {
    color:white;
    font-weight:bold;
}

#truyum-allpages-footer {
    font-size: 16px;
    font-weight:bold;
    color: white;
}

#price {
    font-family:Arial;
    color:red;
}

.row {

    margin-top:2px;
}

.card {
    margin-bottom:50px;
}

.jumbotron {

  background-image: url("https://images.unsplash.com/photo-1493236272120-200db0da1927?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  min-height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

small{
    color:red;
}

