<app-product></app-product>
<div *ngIf="!this.productservice.isSearch">
<div class="search-box">
    <div class="row">
      <div class="col-xl-11 ml-5 mr-5">
        <h3>Find Products</h3>
      </div>
      <div class="col-xl-11 mt-3 ml-5 mr-5">
        <form>
          <div class="input-group md-form form-sm form-1 pl-0">
            <div class="input-group-prepend">
              <span class="input-group-text purple lighten-3 mb-5"
                id="basic-text1"><i class="material-icons">add_shopping_cart</i></span>
            </div>
            <input type="search" class="form-control" name="search-box" [(ngModel)]="searchKey" (input)="search()" placeholder="Search Products">
          </div>
        </form>
      </div>
    </div>
  </div>

 
  
 
 
  <div class="container-fluid mb-5">
      <div class="card-deck" >
          <div class="col-12 col-md-6 col-lg-3"  *ngFor="let product of _filteredlist">
              <div class="card" >
                  <img
                      src="{{product.image}}" width="100"height="200"
                      class="card-img-top" alt="missing" />
                  <div class="card-body">
                      <div class="row">
                              
                          <label for="name"><h5 id="name">{{product.productName}}({{product.productBrand}})</h5></label> <span
                              class="ml-auto" id="price"><label for="price">&#8377;{{product.rate}}</label></span>
                      </div>
  
                      <div class="row">
                          <label for="Product_Code"><h6>PRODUCT CODE: {{product.productCode}}</h6></label>
                      </div>
  
                      <div class="row">
                              
                          <span id="category"><label for="category"><h6>Category: {{product.productType}}</h6></label></span>
                          &nbsp;&nbsp;&nbsp;<span class="badge badge-success mb-3 mr-1" id="active"><label
                              for="active" *ngIf="product.stockCount !='0'"> active</label></span>
                              <span class="badge badge-danger mb-3 mr-1" id="active"><label
                                  for="active" *ngIf="product.stockCount =='0'"> inactive</label></span>
                      </div>
                      
                    
                          <div class="row">
                              
                                  <label for="name">Aisle: {{product.aisle}}</label> <span
                                      class="ml-auto"><label for="price">Shelf: {{product.shelf}}</label></span>
                              </div>
                              <div class="row">
                                      <i class="material-icons">access_time</i><span id="dateofLaunch"><label
                                          for="dateofLaunch">Launch  </label>
                                      <span class="ml-auto">  {{product.expiryDate | date}}</span></span>
                                  </div>
  
                      <!-- <div class="row" *ngIf="isAdmin">
                           
                          <a  class="btn btn-warning mx-auto" >
                              <i class="material-icons">add_shopping_cart</i> Add to Cart
                          </a>
                      </div> -->
                      <div class="row">
                              
                                  
  
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <div class="row" *ngIf="isAdmin">
                          <button [routerLink]="['/product-edit',product.productCode]" class="btn btn-warning ml-auto" type="button">
                              <i class="material-icons">edit</i> Edit
                          </button>    </div>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <div class="row" *ngIf="isAdmin">
                                  <a  class="btn btn-warning ml-auto" (click)="delete(product.productCode)">
                                      <i class="material-icons">delete_forever</i> Delete
                                  </a>    </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div><br>
  <div class="container" *ngIf="added">
          <div class="alert alert-success">Added to cart
              successfully</div>
      </div>
    </div>




  

   
  
   